<h1>Challenges</h1>
<ul>
  <% @challenges.each do |challenge| %>
    <li data-controller="alert">
      <%= link_to challenge.name, challenge_path(challenge) %>
      <%# Just a link to trigger the alert (What the user sees) %>
      <%= link_to "#", data: { action: 'click->alert#show' }, class: 'text-secondary text-decoration-none' do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
      <%# Just an empty link to delete the challenge (User doesnt see this) %>
      <%= link_to "", challenge_path(challenge), data: { turbo_method: :delete, alert_target: 'link' } %>
    </li>
  <% end %>
</ul>
<%# Action? %>
<%# Target(s)? %>
